.auth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 83px);

  .left-column {
    background-size: cover;
    background-position: center;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColordark;

    .auth-form-wrapper{
      @include base-grid();
      grid-template-columns: 1fr;
      padding: 42px;
      

      @include input-element();

      .btn{
        width:100%
      }
    }
  }
}