.auth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 83px);

  .left-column {
    background-size: cover;
    background-position: center;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColordark;

    .auth-form-wrapper{
      @include base-grid();
      grid-template-columns: 1fr;
      padding: 42px;
      
      .input-container {
        display:flex;
        flex-direction:row;
        align-items:center;

        .auth-icon {
          color:$secondaryColorDark;
          margin-bottom:15px;
          margin-right:15px;
          font-size:1.5em;
        }
      }

      @include input-element();

      .btn{
        width:100%
      }
    }
  }
}