body {
    margin:0px;
    font-family: 'Raleway', sans-serif;
    background-color: $primaryColor;
    color: $secodnaryColorDark;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
