.blog-form-wrapper {
  @include base-grid();
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  input {
    margin-bottom:0px;
    border-bottom: 1px solid $primaryColor;

    &:focus {
      outline:none;
      border-bottom: 1px solid $secondaryColorDark;
    }
  }

  ::placeholder {
    color: $primaryColor;
  }

  .remove-blog-image-from-form {
    @include base-btn()
    background-color: $warning;
    color: $offwhite;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active, &:focus {
      outline: none;
    }

    &:hover {
      background-color: $offwhite;
      color: $warning;
      border: 1px solid $warning;
    }
  }
}