.DraftEditor-root {
  border-top: 1px solid $secondaryColor;
}

.rdw-editor-wrapper {
  border: 1px solid $secondaryColor;
  padding: 20px;
  border-radius: 3px;
}

.rdw-emoji-modal {
  left: -226px;
}

.rdw-embedded-modal {
  left: -226px;
}