$teal: #26bfd4;
$darkTeal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$warningLight: #A04545;
$grey: #8a8a8a;
$primaryColor: #2EB2FF;
$primaryColordark: #289CDF;
$secondaryColor: #4A4A4A;
$secondaryColorDark: #252525;